<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | About Me</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>
<%- include('partials/header', {email: email}); %>

<div class="about-wrapper container">
    <h1 class="title container">John Doe</h1>
    <img class="about-me-banner" src="/images/about-me-banner.png" alt="about-me-banner">
    <h3 class="section-title">About Me</h3>
    <p class="about-me-text">
        As a passionate and experienced UI designer, I am dedicated to creating intuitive and engaging user experiences
        that meet the needs of my clients and their users. I have a strong understanding of design principles and a
        proficiency in design tools, and I am comfortable working with cross-functional teams to bring projects to
        fruition. I am confident in my ability to create designs that are both visually appealing and functional, and I
        am always looking for new challenges and opportunities to grow as a designer.
    </p>
</div>


<%- include('partials/footer'); %>
</body>
</html>
