<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Blogs Yet</title>
</head>
<body>
<h1>No Blogs Available.</h1>
<a href="/new_blog" class="btn">Add your first blog</a>
</body>
</html>
