body {

}

.newsletter-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #1a1a1a;
}

.newsletter-container .first p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #7F56D9;
    margin-bottom: 12px;
}

.newsletter-container h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 24px;
}

.newsletter-description p {
    color: #1A1A1A;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 40px;
}

.email-subscribe {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.email-subscribe input[type="email"] {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
    transition: 0.3s;
}

.email-subscribe input[type="email"]:focus {
    border-color: #333;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.email-subscribe button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #7F56D9;
    box-shadow: 0 1px 2px 0 #1018280D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.email-subscribe button:hover {
    background-color: #9b75f0;
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(127, 86, 217, 0.4);
}

.policy p {
    color: #1A1A1A;
    list-style: none;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 60px;
}

.policy p a {
    text-decoration: underline;
    cursor: pointer;
}

.recent-blog-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    transition: 0.2s all;
}

.recent-blog-title-wrapper:hover {
    opacity: 0.8;
}